fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
python-dotenv
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
pandas
numpy
scikit-learn
xgboost
joblib
shap
vaderSentiment
openpyxl
aiofiles
